.table-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(126, 142, 177, 0.3);
  height: 440px;
  margin-top: 14px;
  padding: 25.5px;
  position: relative;
}

.table-box__heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.table-box__table {
  height: 362px;
  overflow-x: auto;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .table-box {
    height: 480px;
    margin-bottom: 14px;
  }

  .table-box__heading {
    flex-direction: column;
  }
}
