.topbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  z-index: 2;
}

.topbar__collapsible {
  display: none;
  margin: 0;
}

.topbar__start {
  display: flex;
  padding-left: 4rem;
  align-items: center;
}

.topbar__heading-access {
  color: #3e3e3e;
}

.topbar__link {
  text-decoration: none;
}

.topbar__link--flex {
  display: flex;
  align-items: center;
}

.topbar__end {
  margin-left: auto;
}

.topbar__logo {
  height: 3.5rem;
  width: 4.7rem;
}

.topbar__user {
  align-items: flex-end;
  color: #252a31;
  display: inline-flex;
  flex-direction: column;
}

.topbar__user-name {
  font-size: 1.4rem;
}

.topbar__user-network {
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.5;
}

.topbar__user-image {
  margin-left: 0.8rem;
  height: 4.4rem;
  width: 4.6rem;
}

@media screen and (max-width: 767px) {
  .topbar {
    position: fixed;
  }

  .topbar__collapsible {
    display: block;
    margin-left: 2rem;
    cursor: pointer;
  }

  .topbar__start {
    padding-left: 2rem;
  }

  .topbar__start h2,
  .topbar__user {
    display: none;
  }
}
