.topbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  z-index: 2;
}

.topbar__collapsible {
  margin-left: 20px;
  cursor: pointer;
}

.topbar__heading-access {
  color: #3e3e3e;
}

.topbar__start {
  display: none;
  padding-left: 0px;
}

.topbar__link {
  text-decoration: none;
}

.topbar__link--flex {
  display: flex;
  align-items: center;
}

.topbar__end {
  margin-left: auto;
}

.topbar__user {
  align-items: flex-end;
  color: #252a31;
  display: inline-flex;
  flex-direction: column;
}

.topbar__user-name {
  font-size: 1.4rem;
}

.topbar__user-network {
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.5;
}

.topbar__user-image {
  margin-left: 8px;
}

@media screen and (min-width: 550px) {
  .topbar__collapsible {
    display: none;
    margin: 0;
  }

  .topbar__start {
    display: flex;
    padding-left: 40px;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .topbar {
    position: fixed;
  }
}
