.card {
  align-items: center;
  background: #fff;
  border-radius: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem 5px;
  width: 200px;
}

.card__image {
  height: 2.5rem;
  width: 2.5rem;
}

.card__info {
  align-items: flex-start;
  color: #4a4a4a;
  display: inline-flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 10px;
}

.card__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}

.card__text--primary {
  font-weight: bold;
}

.card__text--secondary {
  font-size: 1.1rem;
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .card {
    width: calc(100% - 10px);
  }
}

@media screen and (min-width: 655px) {
  .card {
    width: calc(100% - 15px);
  }
}

@media screen and (min-width: 1900px) {
  .card {
    width: calc(100% - 20px);
  }
}

@media screen and (min-width: 2500px) {
  
.card__text {
  width: 250px;
}
}
