.card {
  align-items: center;
  background: #fff;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
  width: 21rem;
}

.card__image {
  height: 2.5rem;
  width: 2.5rem;
}

.card__info {
  align-items: flex-start;
  color: #4a4a4a;
  display: inline-flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 1rem;
}

.card__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 12rem;
}

.card__text--primary {
  font-weight: bold;
}

.card__text--secondary {
  font-size: 1.1rem;
  opacity: 0.5;
}

@media screen and (max-width: 610px) {
  .card {
    width: calc(100% - 10px);
  }
}

@media screen and (min-width: 611px) and (max-width: 1500px) {
  .card {
    width: calc(100% - 20px);
  }
}
