.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.pagination__btn {
  cursor: pointer;
}

.pagination__btn--active {
  color: var(--color-heading);
}

.pagination__goto {
  width: 2.74rem;
  height: 2rem;
  margin-left: 0.5rem;
  border: solid 0.1rem #979797;
  font-size: 1.2rem;
}
