.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.pagination__btn {
  cursor: pointer;
}

.pagination__btn--active {
  color: var(--color-heading);
}
