.navigation {
  color: #46475c;
  font-size: 1.1rem;
  font-weight: bold;
}

.navigation__item {
  align-items: center;
  color: #46475c;
  cursor: pointer;
  display: flex;
  margin: 0 -1rem;
  padding: 1.3rem 0rem 1.3rem 2.0rem;
  text-decoration: none;
}

.navigation__item--active {
  background: var(--color-primary);
  color: #fff;
}

.navigation__image {
  height: 1.5rem;
  width: 1.5rem;
}

.navigation__text {
  margin-left: 1rem;
}
