.sidebar {
  background: #fff;
  box-shadow: 0 0.1rem 0.4rem 0 #dfe3e7;
  padding: 0rem 1rem;
  z-index: 1;
}

.sidebar__item {
  margin: 3rem 0;
  padding: 0rem 2.5rem 0rem 1rem;
}

.sidebar__message {
  color: #000;
  opacity: 0.4;
}

@media screen and (max-width: 767px) {
  .sidebar {
    position: fixed;
    height: 100%;
    left: -32rem;
    transition: left 0.7s;
    margin-top: 6rem;
  }

  .sidebar--expanded {
    left: 0;
  }
}
