.sidebar {
  background: #fff;
  box-shadow: 0 1px 4px 0 #dfe3e7;
  padding: 0px 10px;
  z-index: 1;
}

.sidebar__item {
  margin: 30px 0px;
  padding: 0px 25px 0px 10px;
}

.sidebar__message {
  color: #000;
  opacity: 0.4;
}

@media screen and (max-width: 550px) {
  .sidebar {
    position: fixed;
    height: 100%;
    left: -270px;
    transition: left 0.7s;
    margin-top: 60px;
  }

  .sidebar--expanded {
    left: 0px;
  }
}
