:root {
  --color-primary: #e20074;
  --color-secondary: #cbcbcb;
  --color-heading: #ea168b;
  --color-body: #676767;
  --color-background: #f2f4f8;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 2300px) {
  html {
    font-size: 95%;
  }
}

@media screen and (min-width: 600px) and (min-height: 1000px) and (max-width: 1800px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-width: 800px) and (min-height: 1000px) and (max-width: 1800px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 3000px) {
  html {
    font-size: 120%;
  }
}

@media screen and (min-width: 4000px) {
  html {
    font-size: 200%;
  }
}

@media screen and (min-width: 6000px) {
  html {
    font-size: 260%;
  }
}

@media screen and (min-height: 1500px) and (max-width: 2000px) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-height: 2000px) and (max-width: 3000px) {
  html {
    font-size: 150%;
  }
}

@media screen and (min-height: 3000px) and (max-width: 4000px) {
  html {
    font-size: 220%;
  }
}

body {
  background: var(--color-background);
  color: var(--color-body);
  font-family: "Roboto";
  font-size: 1.2rem;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
  white-space: nowrap;
}

h4 {
  font-size: 1rem;
  letter-spacing: 0.167rem;
}

hr {
  border: 0.01rem solid #e9e9e9;
}

/* Badge */

.badge {
  border-radius: 1.2rem;
  color: #fff;
  font-weight: bold;
  padding: 0.3rem 0.7rem 0.2rem 0.8rem;
}

.badge--primary {
  background: var(--color-primary);
}

.badge--secondary {
  background: var(--color-secondary);
}

/* Button */

.btn {
  background: #fff;
  border: solid 0.1rem;
  color: var(--color-heading);
  cursor: pointer;
  transition: 0.5s;
}

.btn--block {
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 0.6rem 2.2rem 0.5rem 2.31rem;
  font-size: 1.2rem;
}

.btn--circle {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.btn__text {
  font-family: "Monospace";
  font-size: 2rem;
  font-weight: bold;
}

.btn:hover {
  color: #fff;
  background: var(--color-heading);
}

/* Link */

.a--primary {
  color: var(--color-primary);
}

.a--secondary {
  color: #4a4a4a;
}

/* Icon */

.icon {
  color: #929498;
}

.icon-filled {
  align-items: center;
  background: var(--color-background);
  border-radius: 100%;
  display: inline-flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

/* List */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
  vertical-align: middle;
}

.list__request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 0.7rem 0 0;
}

.list__request--not-selected {
  color: #cbcbcb;
}

/* Line */

.vl {
  border: 0.01rem solid #979797;
  height: 2rem;
  margin: 0 0.5rem;
  opacity: 0.2;
}

/* Input */

.input {
  outline: none;
}

.input-group {
  background-color: #fff;
  border-radius: 0.3rem;
  border: solid 0.2rem #dee3e6;
  display: flex;
  font-size: 1.2rem;
  opacity: 0.5;
  padding: 0.8rem;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  font-size: 1.2rem;
}

.input-group .icon {
  margin: 0.2rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

/* Grid */

.grid {
  display: grid;
}

.grid--main {
  grid-template: 6rem 1fr / 22rem calc(100vw - 22rem);
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .grid--main {
    grid-template-columns: 100%;
  }
}

.grid--carousel {
  grid-template: 3.5rem 6.5rem / 1fr;
}

.grid__topbar {
  grid-column: 1 / 3;
}

/* font-awesome */

.fa-angle-left,
.fa-angle-right {
  font-size: 1.2rem !important;
}
