:root {
  --color-primary: #e20074;
  --color-secondary: #cbcbcb;
  --color-heading: #ea168b;
  --color-body: #676767;
  --color-background: #f2f4f8;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-background);
  color: var(--color-body);
  font-family: "Roboto";
  font-size: 1.2rem;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
  padding-left: 75px;
}

h3 {
  font-size: 1.2rem;
  white-space: nowrap;
}

h4 {
  font-size: 1rem;
  letter-spacing: 1.67px;
}

hr {
  border: 0.1px solid #e9e9e9;
}

/* Badge */

.badge {
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  padding: 3px 7px 2px 8px;
}

.badge--primary {
  background: var(--color-primary);
}

.badge--secondary {
  background: var(--color-secondary);
}

/* Button */

.btn {
  background: #fff;
  border: solid 1px;
  color: var(--color-heading);
  cursor: pointer;
  transition: 0.5s;
}

.btn--block {
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 6px 22px 5px 23.1px;
}

.btn--circle {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.btn:hover {
  color: #fff;
  background: var(--color-heading);
}

/* Link */

.a--primary {
  color: var(--color-primary);
}

.a--secondary {
  color: #4a4a4a;
}

/* Icon */

.icon {
  color: #929498;
}

.icon-filled {
  align-items: center;
  background: var(--color-background);
  border-radius: 100%;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

/* List */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
  vertical-align: middle;
}

.list__request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 7px 0px 0px;
}

.list__request--not-selected {
  color: #cbcbcb;
}

/* Line */

.vl {
  border: 0.1px solid #979797;
  height: 20px;
  margin: 0px 5px 0 5px;
  opacity: 0.2;
}

/* Input */

.input {
  outline: none;
}

.input-group {
  background-color: #fff;
  border-radius: 3px;
  border: solid 2px #dee3e6;
  display: flex;
  font-size: 1.2rem;
  opacity: 0.5;
  padding: 8px;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
}

.input-group .icon {
  margin: 2px;
}

/* Grid */

.grid {
  display: grid;
}

.grid--main {
  grid-template: 60px 1fr / 100%;
  height: 100vh;
}

.grid--carousel {
  grid-template: 35px 65px / 1fr;
}

.grid__topbar {
  grid-column: 1 / 3;
}

@media screen and (min-width: 400px) {
  .grid--main {
    grid-template-columns: 40% 60%;
  }
}

@media screen and (min-width: 600px) {
  .grid--main {
    grid-template-columns: 30% 70%;
  }
}

@media screen and (min-width: 1100px) {
  .grid--main {
    grid-template-columns: 15% 85%;
  }
}
